body{
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
.container {
    display: flex;
    flex-direction: column;
}
.container > label  {
    padding-bottom: 1em;
}

.container > input  {
    padding-bottom: 1em;
}